@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Gustavo_Regular';
    src: url(Gustavo/Gustavo-Regular.otf);
}

@font-face {
    font-family: 'Gustavo_Medium';
    src: url(Gustavo/Gustavo-Medium.otf);
}

@font-face {
    font-family: 'Gustavo_Bold';
    src: url(Gustavo/Gustavo-Bold.otf);
}


/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
nav,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
    vertical-align: baseline;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ******************* fin reset ******************** */

html {
    overflow: hidden;
}


/************dark mode*************/

.switch {
    /* --moon-mask: ; */
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.3em;
    height: 1.7em;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    box-shadow: 0px 0px 0px 1px #cecece;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: .4s;
}

input:checked+.slider {
    background-color: #141414;
    box-shadow: 0px 0px 0px 1px #252525;
}

input:checked+.slider:before {
    transform: translateX(1.6em);
    background: #141414;
    box-shadow: inset -3px -2px 2px -2px #8983f7, inset -8px -5px 0px 0px #a3dafb;
}


/************Fin dark mode*************/

body {
    background-repeat: repeat;
    background-image: url(img/grid.webp);
    background-size: 100%;
    background-position: calc(50% - var(--interval-width)/2) -1px;
    box-sizing: border-box;
    transition: background 0.1s linear;
    color: #141414;
}

body.dark {
    background-repeat: repeat;
    background-image: url(./img/Black.webp);
    background-size: 100%;
    background-position: calc(50% - var(--interval-width)/2) -1px;
    box-sizing: border-box;
    color: #fafafa;
}


/* DEBUT LOADER */

.pageloader {
    z-index: 5;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    /* -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 2s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    overflow-y: hidden;
    overflow-x: hidden; */
}


/* 
@-webkit-keyframes seconds {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: -9999px;
    }
}

@keyframes seconds {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: -9999px;
    }
} */

.loader {
    position: absolute;
    opacity: 0.7;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: linear-gradient(#00ffce, #1d82fd, #2504ee);
    animation: animate 0.75s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.loader span {
    position: absolute;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#00ffce, #1d82fd, #2504ee);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}

.logoLoader {
    position: absolute;
    z-index: 6;
    border-radius: 100px;
    width: 160px;
}


/* .loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
} */


/* FIN LOADER */


/* ***********************  Navbar  ************************** */

.logo {
    width: 50px;
    margin-left: 35px;
    margin-top: 6px;
    margin-bottom: 6px;
    z-index: 2;
}

nav {
    opacity: 0;
    visibility: hidden;
    z-index: 20;
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.06);
}

body.dark nav {
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    background-color: rgb(15, 15, 15);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.06);
}

.scrolling-active .nav a {
    color: #141414;
}

body.dark .scrolling-active .nav a {
    color: #fafafa;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 3rem;
}

.nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gustavo_Medium';
    font-size: 1.2rem;
    color: #141414;
}

body.dark .nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gustavo_Medium';
    font-size: 23px;
    color: #fafafa;
}

.burger .bar {
    display: inline-block;
    width: 2.2rem;
    border-radius: 10px;
    height: 3px;
    background-color: #141414;
    position: relative;
}

body.dark .burger .bar {
    display: inline-block;
    width: 2.2rem;
    border-radius: 10px;
    height: 3px;
    background-color: #fafafa;
    position: relative;
}

.burger .bar::before,
.burger .bar::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #141414;
    position: absolute;
    transition: all .3s;
}

body.dark .burger .bar::before,
body.dark .burger .bar::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #fafafa;
    position: absolute;
    transition: all .3s;
}

.burger .bar::before {
    transform: translateY(-0.5rem);
}

.burger .bar::after {
    transform: translateY(0.5rem);
}

#burger-toogle {
    display: none;
}

.burger {
    width: 2rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    display: none;
}

.turndark {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 10px;
    bottom: -15px;
    font-size: 13px;
    background: linear-gradient(150deg, rgba(255, 255, 255, 1) 50%, rgba(20, 20, 20, 1) 50%);
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.2s;
    z-index: 1;
    transform: translateY(8px);
}

body.dark .turndark {
    display: none;
}

.turndark span {
    background: linear-gradient(150deg, rgba(20, 20, 20, 1) 50%, rgba(255, 255, 255, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu:nth-child(7):hover+.turndark {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

@media only screen and (max-width:600px) {
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(236 236 236 / 38%);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        border-right: 5px solid rgb(218 218 218 / 15%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform .3s;
    }
    body.dark .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 39, 39, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        border-right: 5px solid rgb(218 218 218 / 15%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform .3s;
    }
    .nav-list li {
        margin: 1rem 0;
    }
    .nav-list li a {
        display: inline-block;
        font-size: 23px;
        transition: all .3s;
    }
    .nav-list li a:hover {
        border-style: solid;
        border-width: 0 0 .2em 0;
        width: fit-content;
        border-image: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1)) 1;
        font-family: 'Montserrat';
        font-weight: 600;
    }
    .burger {
        display: flex;
        z-index: 99;
    }
    /*
    ~ -> Tilde selection des freres
    mac : option n
    windows : altgr 2
    */
    #burger-toogle:checked~.nav-list {
        z-index: 1;
        transform: none;
    }
    #burger-toogle:checked~.burger .bar::before {
        transform: rotate(45deg)
    }
    #burger-toogle:checked~.burger .bar::after {
        transform: rotate(-45deg)
    }
    #burger-toogle:checked~.burger .bar {
        background-color: transparent;
    }
}


/* ***********************  Fin Navbar  ************************** */

.container {
    opacity: 0;
    visibility: hidden;
}

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background: url(img/bghome2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    /* padding-top: 50px; */
}

body.dark .homePage {
    background: url(img/bghomedark2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 900px;
}

.contentHomepage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.partLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.googlemaps {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    color: grey;
}

.mapunder {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100px;
    top: 65px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 17px;
    border: 1px solid #cecece;
    box-shadow: 2px 2px 20px 7px rgb(0 0 0 / 10%);
    transform: scale(0.5);
    transition-duration: 0.2s;
}

body.dark .mapunder {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100px;
    top: 65px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 17px;
    border: 1px solid #323232;
    box-shadow: 2px 2px 20px 7px rgb(0 0 0 / 10%);
    transform: scale(0.5);
    transition-duration: 0.2s;
}

.bgmap {
    background-image: url(img/map.webp);
    background-size: 100%;
    width: 100%;
    border-radius: 15px;
    height: 255px;
}

body.dark .bgmap {
    background-image: url(img/mapdark.webp);
    background-size: 100%;
    width: 100%;
    border-radius: 15px;
    height: 255px;
}

.map {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.underimg {
    background-color: white;
    border-top: 1px solid #cecece;
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 15px 15px;
    margin-top: -35px;
    padding: 12px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

body.dark .underimg {
    background-color: #141414;
    border-top: 1px solid #323232;
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 15px 15px;
    margin-top: -35px;
    padding: 12px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.googlemaps:hover+.mapunder {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.partRight {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prezcard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 15.5rem;
    height: 19rem;
    padding: 0.5rem;
    margin-left: 0rem;
    background: white;
    box-shadow: 6px 6px 0px 0 rgb(0 0 0);
    border: 2px solid black;
}

body.dark .prezcard {
    background: #141414;
    box-shadow: 6px 6px 0px 0 #F3F3F3;
    border: 2px solid #F3F3F3;
}

.name {
    font-size: 16px;
}

.age {
    opacity: 0.7;
    font-size: 16px;
}

.prof {
    opacity: 0.7;
    font-size: 13px;
}

.cvprez span {
    background: #fff;
    display: block;
    padding: 15px 15px;
}

.textprez {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 19px;
}

.cvprez {
    color: #141414;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    padding: 2px;
    text-decoration: none;
    transform-style: preserve-3d;
    z-index: 3;
    transform: translate(-3px, -3px);
    transition-duration: 0.2s;
}

.cvprez:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    border: 2px solid black;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    transform: translateZ(-1px);
    transition-duration: 0.2s;
}

#buttonGradientcv {
    display: none;
}


/* .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
} */

.memojiTop {
    width: 40%;
    box-shadow: 0px 0px 25px 0px rgb(118 197 255 / 60%);
    border-radius: 80px;
}

#lesh2 {
    display: flex;
    align-items: center;
}


/* #lesh2 {
    display: flex;
    align-items: center;
    margin: 40px;
} */

.hello {
    font-size: 20px;
}

#hand {
    font-size: 21px;
    animation: coucou 5s 6 ease-in-out;
}

@keyframes coucou {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(-15deg);
    }
    40% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(30deg);
    }
    70% {
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(30deg);
    }
    90% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.textCenter {
    color: #141414;
    font-family: 'Gustavo_Bold';
    font-size: 50px;
    border-style: solid;
    border-width: 0 0 .2em 0;
    width: fit-content;
    border-image: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1)) 1;
    block-size: 100%;
}

body.dark .textCenter {
    color: #fafafa;
    font-family: 'Gustavo_Bold';
    font-size: 60px;
    border-style: solid;
    border-width: 0 0 .2em 0;
    width: fit-content;
    border-image: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1)) 1;
    block-size: 90%;
}

.contentCenterHome {
    display: flex;
    flex-direction: column;
    margin: 40px;
    text-align: center;
}

#solidGradient {
    background: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    width: 155px;
    height: 4px;
    filter: blur(5px);
}

.contentHome {
    color: #141414b2;
    font-size: 16px;
    line-height: 22px;
    margin: 10px;
}

body.dark .contentHome {
    color: #fafafab2;
}

.arrow {
    width: 20px;
    margin-top: 0rem;
    bottom: 20px;
    color: #141414;
    animation: bounce 2s infinite ease-in-out;
}

body.dark .arrow {
    width: 20px;
    margin-top: 3rem;
    bottom: 20px;
    color: #fafafa;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

.star {
    background-image: url(img/StarB.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 45px;
    right: 150px;
    top: -40px;
}

.star2 {
    background-image: url(img/Star.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 45px;
    left: 300px;
    top: 110px;
}

body.dark .star {
    background-image: url(img/StarDark.webp);
}

.cercles {
    background-image: url(img/cercles.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 130px;
    height: 100px;
    right: 130px;
    bottom: -30px;
}

body.dark .cercles {
    background-image: url(img/cercleWhite.webp);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 650px;
    margin: 10px 0 100px 0;
    transform-style: preserve-3d;
}

.portski {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portrait1,
.portrait2,
.portrait3 {
    object-fit: cover;
    width: 40%;
    border: 2px solid black;
    box-shadow: 6px 6px 0px 0 black;
    width: 210px;
}

.portrait2 {
    display: none;
}

.portrait3 {
    display: none;
}

.sousName {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
}


/****************************/

.firstWord {
    background: -webkit-linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Gustavo_Bold';
}

.title {
    font-family: 'Gustavo_Bold';
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
}

.textContent {
    line-height: 23px;
    margin-bottom: 30px;
}

.cvbutton {
    display: flex;
    justify-content: center;
}

.contente {
    margin-bottom: 20px;
}

.chyout {
    background: linear-gradient(to right, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    color: #141414;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
    padding: 3px;
    text-decoration: none;
    margin: 30px;
}

.chyout span {
    background: #fff;
    display: block;
    padding: 16px 24px;
}

#skills {
    margin-bottom: 60px;
}

.textContent1 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

@media only screen and (max-width:500px) {
    .ligne {
        padding-top: 50px;
        padding-bottom: 30px;
        width: 24.5rem;
        margin-left: -1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        display: grid;
        grid-template-columns: repeat(6, auto);
        -webkit-overflow-scrolling: touch;
    }
    body.dark .ligne {
        padding-top: 50px;
        padding-bottom: 30px;
        width: 24.5rem;
        margin-left: -1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        display: grid;
        grid-template-columns: repeat(6, auto);
        -webkit-overflow-scrolling: touch;
    }
}

.comp1,
.comp2,
.comp3,
.comp4,
.comp5 {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 10.5rem;
    height: 14rem;
    padding: 0.5rem;
    margin-left: 1.8rem;
    background-color: white;
    border: 2px solid black;
    top: 125rem;
    transform-style: preserve-3d;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.445, 1.65, 0.455, 1.485);
}

.comp1:before,
.comp2:before,
.comp3:before,
.comp4:before,
.comp5:before {
    content: '';
    position: absolute;
    background-color: black;
    background-image: none;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    bottom: -10px;
    left: 5px;
}

body.dark .comp1:before,
body.dark .comp2:before,
body.dark .comp3:before,
body.dark .comp4:before,
body.dark .comp5:before {
    content: '';
    position: absolute;
    background-color: #F3F3F3;
    background-image: none;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    bottom: -10px;
    left: 5px;
}

.comp1:hover:before,
.comp2:hover:before,
.comp3:hover:before,
.comp4:hover:before,
.comp5:hover:before {
    content: '';
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    border: 2px solid black;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    bottom: -10px;
    left: 5px;
}

.comp1.active:before,
.comp2.active:before,
.comp3.active:before,
.comp4.active:before,
.comp5.active:before {
    content: '';
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    border: 2px solid black;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    bottom: -10px;
    left: 5px;
}

body.dark .comp1.active:before,
body.dark .comp2.active:before,
body.dark .comp3.active:before,
body.dark .comp4.active:before,
body.dark .comp5.active:before {
    content: '';
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    border: 2px solid #F3F3F3;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    bottom: -10px;
    left: 5px;
}

body.dark .comp1:hover:before,
body.dark .comp2:hover:before,
body.dark .comp3:hover:before,
body.dark .comp4:hover:before,
body.dark .comp5:hover:before {
    content: '';
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    border: 2px solid #F3F3F3;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    bottom: -10px;
    left: 5px;
}

body.dark .comp1,
body.dark .comp2,
body.dark .comp3,
body.dark .comp4,
body.dark .comp5 {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 10.5rem;
    height: 14rem;
    padding: 0.5rem;
    margin-left: 1.8rem;
    background-color: #141414;
    border: 2px solid #F3F3F3;
    top: 125rem;
    transform-style: preserve-3d;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.445, 1.65, 0.455, 1.485);
}

.comp1:hover,
.comp2:hover,
.comp3:hover,
.comp4:hover,
.comp5:hover {
    transform: scale(1.05, 1.05);
}

.comp1.active,
.comp2.active,
.comp3.active,
.comp4.active,
.comp5.active {
    width: 17rem;
    height: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.comp1.active:hover,
.comp2.active:hover,
.comp3.active:hover,
.comp4.active:hover,
.comp5.active:hover {
    transform: scale(1);
}

body.dark .comp1.active,
body.dark .comp2.active,
body.dark .comp3.active,
body.dark .comp4.active,
body.dark .comp5.active {
    width: 17rem;
    height: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    transition-duration: 0.2s;
}

.comp1.active .imgCompPlume {
    width: 30%;
    margin-bottom: 0.5rem;
}

.comp1.active .detailcomp,
.comp2.active .detailcomp,
.comp3.active .detailcomp,
.comp4.active .detailcomp,
.comp5.active .detailcomp {
    content-visibility: visible;
    visibility: visible;
    opacity: 1;
    position: initial;
    font-size: 14px;
    transition: all 0.3s;
}

.bookibook {
    margin-top: 40px;
}

.detailcomp {
    content-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.670);
    margin-top: 20px;
    line-height: 1.3;
    font-size: 14px;
    transition: all 0.3s;
}

.detailcomp i {
    font-style: normal;
    font-weight: 500;
}

body.dark .detailcomp {
    content-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    color: rgba(247, 247, 247, 0.67);
    margin-top: 20px;
    line-height: 1.3;
    font-size: 0px;
    transition: all 0.3s;
}

.imgCompPlume {
    width: 45%;
    transition: all 0.3s;
}

.imgComp {
    width: 68%;
    transition: all 0.3s;
}

.imgCompRS {
    width: 65%;
    transition: all 0.3s;
}

.imgCompEclair {
    width: 55%;
    transition: all 0.3s;
}

.textComp {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    color: #000;
    transition: all 0.3s;
}

body.dark .textComp {
    color: white;
}

#exp {
    margin-bottom: 60px;
}

#passion .pretitle {
    width: 100%;
}

.cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, 17.6rem);
    grid-column-gap: 45px;
    grid-row-gap: 24px;
    max-width: 1200px;
    width: 84%;
    margin: auto;
}

.card--8 .card__img,
.card--8 .card__img--hover {
    background-image: url(img/servierlab.webp);
}

.card--9 .card__img,
.card--9 .card__img--hover {
    background-image: url(img/descartes.webp);
}

.card--10 .card__img,
.card--10 .card__img--hover {
    background-image: url(img/cassin.webp);
}

.card__like {
    width: 18px;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 12rem;
    top: 0;
}

.card {
    margin-bottom: 30px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background: white;
    box-shadow: 6px 6px 0px 0 black;
    border: 2px solid black;
    width: 290px;
    position: relative;
    overflow: hidden;
}

body.dark .card {
    margin-bottom: 30px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background: #141414;
    box-shadow: 6px 6px 0px 0 #F3F3F3;
    border: 2px solid #F3F3F3;
    width: 290px;
    position: relative;
    overflow: hidden;
}

.card__info {
    z-index: 2;
    border-top: 1px solid #e5e5e5;
    padding: 16px 24px 24px 24px;
    color: rgb(240 240 240 / 1);
    display: flex;
    flex-direction: column;
}

.card__category {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #a1a1a1;
}

body.dark .card__category {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #fafafa80;
}

.card__title {
    margin-top: 7px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    line-height: 1.3rem;
    color: #141414;
}

body.dark .card__title {
    margin-top: 7px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    line-height: 1.3rem;
    color: #fafafa;
}

.card__by {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #141414;
    line-height: 1.3;
}

body.dark .card__by {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #fafafa;
    line-height: 1.3;
}

.para {
    color: #14141480;
    font-size: 14px;
    margin-top: 10px;
}

body.dark .para {
    color: grey;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    background: -webkit-linear-gradient( 0deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    transition-duration: 0.2s;
}

#projets {
    margin-bottom: 100px;
}

.hero-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding-top: 24px;
}

.cad-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    max-width: 1150px;
    width: 100%;
}

@media(max-width: 960px) {
    .cad-grid {
        grid-template-columns: repeat(2, 2fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

.cad {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cad:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.cad__background {
    overflow: hidden;
    z-index: 1;
    background-size: cover;
    background-position: center;
    bottom: 0;
    filter: saturate(1.2) contrast(0.75);
    -webkit-filter: saturate(1.2) contrast(0.75);
    border: 2px solid black;
    box-shadow: 6px 6px 0px 0 black;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
    -webkit-transition: filter 200ms linear, transform 200ms linear;
}

body.dark .cad__background {
    overflow: hidden;
    z-index: 1;
    background-size: cover;
    background-position: center;
    bottom: 0;
    filter: saturate(1.2) contrast(0.75);
    -webkit-filter: saturate(1.2) contrast(0.75);
    border: 2px solid white;
    box-shadow: 6px 6px 0px 0 white;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
    -webkit-transition: filter 200ms linear, transform 200ms linear;
}

.cad__background #sansfin {
    height: 101%;
    transform: translate(-30%);
}

#picthouse,
#santeny {
    width: 101%;
}

#studio {
    height: 100%;
}

.cad:hover .cad__background {
    transform: scale(1.05) translateZ(0);
    -webkit-transform: scale(1.05) translateZ(0);
}

.cad:hover .cad__content {
    background-color: white;
    border: 2px solid black;
    transition-duration: 0.3s;
    top: -9px;
    width: 105%;
    left: -6px;
    height: 105%;
}

body.dark .cad:hover .cad__content {
    background-color: #141414;
    border: 2px solid white;
    transition-duration: 0.3s;
    top: -9px;
    width: 105%;
    left: -6px;
    height: 105%;
}

.cad:hover .cad__details {
    display: block
}

.cad:hover .cad__heading {
    color: black;
}

body.dark .cad:hover .cad__heading {
    color: white;
}

@media screen and (max-width: 960px) {
    .cad:hover .cad__background {
        transform: scale(1) translateZ(0);
        -webkit-transform: scale(1) translateZ(0);
    }
    .cad:hover .cad__content {
        background-color: transparent;
        border: none;
    }
    body.dark .cad:hover .cad__content {
        display: none;
    }
    .cad:hover .cad__details {
        display: none;
    }
    .cad:hover .cad__heading {
        color: white;
    }
    body.dark .cad:hover .cad__heading {
        color: white;
    }
}

.cad__content {
    z-index: 2;
    left: 0;
    padding: 22px;
    position: absolute;
    top: 0;
    background-color: transparent;
    transition-duration: 0.3s;
}

.cad__category {
    font-family: 'Montserrat';
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.cad__heading {
    font-family: 'Gustavo_Medium';
    color: white;
    font-size: 28px;
    width: 102%;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    transition-duration: 0.2s;
}

.cad__details {
    display: none;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #141414;
    font-size: 15px;
    line-height: 1.3;
}

body.dark .cad__details {
    display: none;
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    font-size: 15px;
    line-height: 1.3;
}

#action {
    width: 100%;
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 0px 0 black;
}

body.dark #action {
    border: 2px solid #F3F3F3;
    box-shadow: 6px 6px 0px 0 #F3F3F3;
}

.buttonbook {
    display: flex;
    justify-content: center;
    width: 50%;
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kontora Medium';
    margin-top: 4rem;
}

#contact {
    background-image: rgba(255, 255, 255, 0);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    border-top: 2px solid #CECECE;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

body.dark #contact {
    border-top: 2px solid #373737;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bgContact {
    font-family: 'Montserrat';
    font-weight: 300;
    padding: 3px 0 0 0;
    line-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: #F1F1F1;
    border-top: 1.5px solid #CECECE;
    display: block;
    padding: 1.5rem;
}

body.dark .bgContact {
    background: #141414;
    border-top: 1.5px solid #373737;
}

.copyright a {
    background: -webkit-linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat';
    font-weight: 500;
}

#imgmem {
    display: none;
}

#imgmem2 {
    width: 10rem;
    height: 10rem;
    padding: 2rem;
}

#memojiContact {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
}

.cont {
    margin-left: 3rem;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #141414;
}

.linkedin {
    width: 300px;
    background-color: white;
    border: 2px solid #0E76A8;
    border-radius: 10px;
    /* box-shadow: 6px 6px 0px 0px #0E76A8; */
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
}

body.dark .linkedin {
    width: 300px;
    background-color: #141414;
    border: 2px solid #0E76A8;
    border-radius: 10px;
    /* box-shadow: 6px 6px 0px 0px #0E76A8; */
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
}

.contentLink {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: start;
}

.logoLink {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-right: -1px;
}

.titleLink {
    font-size: 18px;
    font-weight: 600;
}

.linkbutton {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #0073b1;
    background-color: white;
    color: #0073b1;
    font-weight: 600;
    border-radius: 40px;
    text-align: center;
    overflow: hidden;
    transition-duration: 0.15s;
}

body.dark .linkbutton {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #0073b1;
    background-color: #141414;
    color: #0073b1;
    font-weight: 600;
    border-radius: 40px;
    text-align: center;
    overflow: hidden;
    transition-duration: 0.15s;
}

.linkbutton:hover {
    border: 2px solid #0073b1;
    background-color: rgba(112, 181, 249, 0.15);
}

body.dark .linkbutton:hover {
    color: white;
    border: 2px solid #0073b1;
    background-color: rgba(112, 181, 249, 0.15);
}


/* ******************** Version pc ******************** */

@media only screen and (min-width: 1025px) {
    body {
        background-size: 30%;
    }
    nav {
        background: transparent;
        box-shadow: none;
        height: 80px;
        transition-duration: 0.2s;
    }
    body.dark nav {
        background: transparent;
        box-shadow: none;
        height: 80px;
        transition-duration: 0.2s;
    }
    .scrolling-active {
        background-color: rgba(236, 236, 236, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        height: 80px;
        border-bottom: 1.5px solid rgb(255 255 255 / 30%);
        box-shadow: 6px 6px 20px 0 rgb(0 0 0 / 15%);
    }
    body.dark .scrolling-active {
        z-index: 10;
        background-color: rgba(20, 20, 20, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        height: 80px;
        border-bottom: 1.5px solid rgb(255 255 255 / 30%);
        box-shadow: 6px 6px 20px 0 rgb(0 0 0 / 15%);
    }
    .nav-list {
        align-items: center;
    }
    .nav-list .menu {
        margin-left: 3rem;
    }
    .num {
        margin-left: 1.5rem !important;
    }
    .num2 {
        padding: 0rem !important;
    }
    .nav-list li a {
        font-size: 15px;
        transition-duration: 0.3s;
        position: relative;
        display: inline-block;
    }
    body.dark .nav-list li a {
        font-size: 15px;
        transition-duration: 0.3s;
        position: relative;
        display: inline-block;
    }
    .nav-list li a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-image: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .nav-list li a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    /* .nav-list li a:hover {
        border-bottom: 0.15rem solid transparent;
        border-image: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        border-image-slice: 1
    } */
    .homePage {
        justify-content: start;
        height: 900px;
        padding: 40px;
    }
    .star2 {
        left: 200px;
        top: 160px;
    }
    .memojiTop {
        width: 40%;
        margin-top: 0;
    }
    /* .memojiTop {
        width: 20%;
    } */
    .textCenter {
        block-size: 90%;
        font-size: 60px;
        line-height: 60px;
        border-width: 0 0 0.13em 0;
    }
    #solidGradient {
        width: 255px;
        height: 7px;
        margin-top: -5px;
        transition-duration: 0.3s;
    }
    /* #solidGradient {
        width: 495px;
        height: 7px;
        margin-top: -5px;
        transition-duration: 0.3s;
    } */
    .contentHome {
        font-size: 18px;
        line-height: 27px;
        margin: 50px 0 0 0;
    }
    body.dark .contentHome {
        font-size: 18px;
        line-height: 27px;
        margin: 50px 0 0 0;
    }
    .contentHomepage {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 650px;
    }
    .partLeft {
        width: 50%;
        align-items: start;
        padding-left: 100px;
    }
    .partRight {
        width: 50%;
        background-position-x: 70px;
        background-position-y: 30px;
        height: 700px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .partRight {
        width: 40%;
        background-position-x: 70px;
        background-position-y: 30px;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textprez {
        line-height: 25px;
    }
    .name {
        font-size: 20px;
        font-weight: 500;
    }
    .age {
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: 300;
        opacity: 0.7;
    }
    .prof {
        font-size: 18px;
        opacity: 0.7;
        font-family: 'Montserrat';
        font-weight: 300;
    }
    .prezcard {
        width: 15.5rem;
        height: 21rem;
        padding: 0.5rem;
        /* margin-left: 6rem; */
    }
    .cvprez span {
        padding: 16px 37px;
    }
    .cvprez {
        color: #141414;
        background-color: white;
        border: 2px solid black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
        padding: 2px;
        text-decoration: none;
        transform-style: preserve-3d;
        z-index: 3;
        transition-duration: 0.2s;
    }
    .cvprez:before {
        content: '';
        position: absolute;
        background-image: linear-gradient(to right, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        border: 2px solid black;
        width: 100%;
        height: 100%;
        top: -2px;
        left: -2px;
        transform: translateZ(-1px);
        transition-duration: 0.2s;
    }
    .cvprez:hover {
        transform: translate(-3px, -3px);
    }
    .cvprez:hover:before {
        content: '';
        position: absolute;
        background-image: linear-gradient(to right, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        border: 2px solid black;
        width: 100%;
        height: 100%;
        top: 5px;
        left: 5px;
        transform: translateZ(-1px);
    }
    .contentCenterHome {
        margin: 30px 0 0 0;
        text-align: left;
    }
    .content {
        margin: 0 10rem 0 10rem;
    }
    .lecontenu2 {
        width: 60%;
    }
    .portski {
        width: 20%;
    }
    #about {
        flex-direction: row;
        height: 100%;
    }
    .photoPortrait {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 40%;
    }
    .portrait1,
    .portrait2,
    .portrait3 {
        object-fit: cover;
        width: 40%;
        border: 2px solid black;
        box-shadow: 6px 6px 0px 0 black;
        width: 210px;
    }
    body.dark .portrait1,
    body.dark .portrait2,
    body.dark .portrait3 {
        object-fit: cover;
        width: 40%;
        border: 2px solid white;
        box-shadow: 6px 6px 0px 0 white;
        width: 210px;
    }
    .portrait1 {
        margin-right: 200px;
    }
    .portrait2 {
        display: block;
        margin-top: -140px;
    }
    .portrait3 {
        display: block;
        margin-right: 200px;
        margin-top: -80px;
        z-index: 1;
    }
    body.dark #portrait {
        object-fit: cover;
        width: 180px;
        height: 240px;
        border: 2px solid #F3F3F3;
        box-shadow: 6px 6px 0px 0 #F3F3F3;
    }
    #skills {
        margin-bottom: 0px;
    }
    .centrerSkills {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .cvbutton {
        margin: 30px;
    }
    .chyout {
        background: linear-gradient(to right, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        -webkit-backface-visibility: hidden;
        margin: 0px;
        padding: 2.5px;
        z-index: 2;
    }
    .textContent1 {
        line-height: 16px;
        margin-bottom: 0px;
        line-height: 20px;
        width: 70%;
    }
    #buttonGradientcv {
        display: block;
        background: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        width: 170px;
        height: 35px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        margin-top: 22px;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        position: absolute;
        z-index: 1;
        transition-duration: 0.2s;
    }
    #buttonGradient0 {
        opacity: 0;
        background: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        width: 50px;
        height: 50px;
        top: 15px;
        left: 35px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        position: absolute;
        z-index: 1;
        transition-duration: 0.2s;
    }
    #buttonGradient1 {
        opacity: 0;
        background: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        width: 140px;
        height: 40px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        margin-top: 20px;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        position: absolute;
        z-index: 1;
        transition-duration: 0.2s;
    }
    #buttonGradient2 {
        background: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        width: 155px;
        height: 40px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        margin-top: 20px;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        position: absolute;
        z-index: 1;
        transition-duration: 0.2s;
    }
    #buttonGradient3 {
        background: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        width: 290px;
        height: 40px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        margin-top: 20px;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        position: absolute;
        z-index: 1;
        transition-duration: 0.2s;
    }
    #buttonGradient4 {
        background: linear-gradient( 45deg, hsla(249, 100%, 47%, 1), hsla(168, 100%, 50%, 1));
        width: 250px;
        height: 37px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        margin-top: 20px;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        position: absolute;
        z-index: 1;
        transition-duration: 0.2s;
    }
    .logotop {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: 0.2s;
    }
    .logotop:hover #buttonGradient0 {
        opacity: 1;
        transition-duration: 0.2s;
    }
    .buttonplushovercv,
    .buttonplushover1,
    .buttonplushover2,
    .buttonplushover3,
    .buttonplushover4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2px;
        transition: transform .3s;
        transition-timing-function: cubic-bezier(0.445, 1.65, 0.455, 1.485);
    }
    .buttonplushovercv:hover {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
    }
    .buttonplushovercv:hover .cvprez {
        padding: 3px;
    }
    .buttonplushovercv:hover .cvprez span {
        background: linear-gradient(rgb(255, 255, 255), rgb(246, 248, 248));
        padding: 16px 37px;
    }
    .buttonplushovercv:hover {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
    }
    .buttonplushover1:hover .chyout {
        padding: 2px;
    }
    .buttonplushover1:hover .chyout span {
        background: linear-gradient(rgb(255, 255, 255), rgb(246, 248, 248));
        padding: 17px 25px;
    }
    .buttonplushover2:hover {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
    }
    .buttonplushover2:hover .chyout {
        padding: 2px;
    }
    .buttonplushover2:hover .chyout span {
        background: linear-gradient(rgb(255, 255, 255), rgb(246, 248, 248));
        padding: 17px 25px;
    }
    .buttonplushover3:hover {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
    }
    .buttonplushover3:hover .chyout {
        padding: 2px;
    }
    .buttonplushover3:hover .chyout span {
        background: linear-gradient(rgb(255, 255, 255), rgb(246, 248, 248));
        padding: 17px 25px;
    }
    .buttonplushover4:hover {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
    }
    .buttonplushover4:hover .chyout {
        padding: 2px;
    }
    .buttonplushover4:hover .chyout span {
        background: linear-gradient(rgb(255, 255, 255), rgb(246, 248, 248));
        padding: 17px 25px;
    }
    .buttonplushovercv:hover #buttonGradientcv {
        opacity: 1;
        transition-duration: 0.2s;
    }
    .buttonplushover1:hover #buttonGradient1 {
        opacity: 1;
        transition-duration: 0.2s;
    }
    .buttonplushover2:hover #buttonGradient2 {
        opacity: 1;
        transition-duration: 0.2s;
    }
    .buttonplushover3:hover #buttonGradient3 {
        opacity: 1;
        transition-duration: 0.2s;
    }
    .buttonplushover4:hover #buttonGradient4 {
        opacity: 1;
        transition-duration: 0.2s;
    }
    #passion .pretitle {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .ligne {
        width: 100%;
        --width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        padding-bottom: 7.5rem;
        padding-top: 6rem;
    }
    body.dark .ligne {
        width: 100%;
        --width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        padding-bottom: 10rem;
        padding-top: 5rem;
    }
    .comp5 {
        margin-right: 25px;
    }
    .bookibook {
        margin: 20px 0px 5px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #passion {
        display: flex;
        justify-content: space-between;
    }
    #action {
        width: 45%;
        object-fit: cover;
    }
    #contact {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 100px;
        padding: 50px;
    }
    #memojiContact {
        display: flex;
        justify-content: center;
        margin-left: 0rem;
        background-color: #bde9fd;
        border-radius: 6rem;
    }
    #imgmem {
        display: block;
        width: 11rem;
        height: 11rem;
    }
    #imgmem2 {
        display: none;
    }
    .bgContact span {
        width: 100%;
    }
}